

.container{
margin-left: 2500px;
margin-top: 900px;
margin-right:310px;
text-align:center;
background-color:rgb(115, 115, 115);
border-radius: 10px;
height: 900px;
width: 900px;
border-style: solid;
border-color:rgb(212, 212, 212);
}



.display{
border-radius: 10px;
align-content: center;
width: 885px;
margin-top: 25px;
height: 50px;
border-width:5px;
font-size:40px ;
transition: box-shadow 3s;
cursor: pointer;

}

.display:hover{
		box-shadow: 1px 8px 10px rgba(0, 0, 0, 3.0);
}

.calcs-row0{
padding-top:25px;
margin-top: 50px;
margin-right:25px;
margin-left:25px;
margin-bottom: 10px;
padding-top:50px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 25px;
border-radius: 50px;
font-size: 40px;
font-family:Courier New;
border-color: rgb(227, 162, 41);
transition: box-shadow 3s;
transition: 3s;
cursor: pointer;
}

.calc-row0:hover{
	box-shadow: 1px 8px 10px rgba(0, 0, 0, 1.0);
}

.calc-row1{
padding-top:50px;
padding-left: 50px;
padding-right: 50px;
border-radius: 50px;
font-size: 40px;
text-align: center;
font-family:Courier New;
border-color: rgb(227, 162, 41);
cursor: pointer;
transition: box-shadow 3s;
transition: 3s;
}

.calc-row1:hover{
	box-shadow: 1px 8px 10px rgba(0, 0, 0, 1.0);
}

.calc-row2{
padding-top:50px;
padding-left: 50px;
padding-right: 50px;
border-radius: 50px;
font-size: 40px;
text-align: center;
font-family:Courier New;
transition: box-shadow 3s;
transition: 3s;
border-color: rgb(227, 162, 41);
cursor: pointer;
}

.calc-row2:hover{
	box-shadow: 1px 8px 10px rgba(0, 0, 0, 1.0);
}

.calc-row3{
padding-top:50px;
padding-left: 50px;
padding-right: 50px;
border-radius: 50px;
font-size: 40px;
text-align: center;
font-family:Courier New;
border-color: rgb(227, 162, 41);
cursor: pointer;
transition: box-shadow 3s;
transition: 3s;
}
.calc-row3:hover{
	box-shadow: 1px 8px 10px rgba(0, 0, 0, 1.0);
}

.calc-row4{
padding-top:25px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 25px;
border-radius: 50px;
font-size: 40px;
text-align: center;
font-family:Courier New;
transition: box-shadow 3s;
border-color: rgb(227, 162, 41);
transition: 3s;
cursor: pointer;
}
.calc-row4:hover{
	box-shadow: 1px 8px 10px rgba(0, 0, 0, 1.0);
}